<tr class="<%= ping_status(ping) %>">
  <td><%= domain.name %></td>
  <td><%= ping_date(ping) %></td>
  <td class="text-center"><%= ping_response(ping) %></td>
  <td class="text-center"><%= ping_alive(ping) %></td>
</tr>